<!-- Create New Note button -->
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <a class="btn btn-primary btn-lg btn-block" href="#/new">Create New Note</a>
    </div>
  </div>
</div>
<!-- List of notes -->
<div class="col-md-4" ng-repeat="note in $storage.notes">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ note.title }}</h3>
    </div>
    <div class="panel-body">
      {{ note.content }}
    </div>
    <div class="panel-footer">
      <div class="btn-group">
        <label class="btn btn-default">
          <input type="checkbox" id="tercheck" ng-model="note.liked"> Favorite
        </label>
        <a class="btn btn-default" href="#/edit/{{ $index }}">Edit</a>
        <button type="button" class="btn btn-default" ng-click="removeNote($index)">Delete</button>
      </div>
    </div>
  </div>
</div>
