<!-- Create New Note button -->
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">{{ vm.list.name }}</h3>
      <button ng-if="vm.canDeleteList" type="button" class="btn btn-danger btn-xs pull-right" ng-click="vm.deleteList()">Delete List</button>
    </div>
    <div class="panel-body">
      <a class="btn btn-primary btn-lg btn-block" ui-sref="note({ noteId: 'new' })">Create New Note</a>
    </div>
  </div>
</div>
<!-- List of notes -->
<div class="col-md-4" ng-repeat="note in vm.notes | orderBy: 'id'">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ note.title }}</h3>
    </div>
    <div class="panel-body">
      {{ note.content }}
    </div>
    <div class="panel-footer">
      <div class="btn-group">
        <label class="btn btn-default">
          <input type="checkbox" ng-model="note.liked"> Favorite
        </label>
        <a class="btn btn-default" ui-sref="note({ noteId: note.id })">Edit</a>
        <button type="button" class="btn btn-default" ng-click="vm.remove(note.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
