<form role="form">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <input type="text" class="panel-title form-control" ng-model="note.title">
      </div>
      <div class="panel-body">
        <textarea rows="6" class="form-control" ng-model="note.content"></textarea>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-danger" ng-click="removeNote()">Delete</button>
        <div class="pull-right">
          <button type="button" class="btn btn-default" ng-click="cancelNote()" ng-if="showCancel">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="saveNote()">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
